@model Domain.DiffieHellman

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DiffieHellman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Manual Input</h4>
            <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="P" class="control-label">Prime number 1</label>
                <input asp-for="P" class="form-control"/>
                <span asp-validation-for="P" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q" class="control-label">Prime number 2</label>
                <input asp-for="Q" class="form-control"/>
                <span asp-validation-for="Q" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAInput" class="control-label">User Input 1</label>
                <input asp-for="UserAInput" class="form-control"/>
                <span asp-validation-for="UserAInput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBInput" class="control-label">User Input 2</label>
                <input asp-for="UserBInput" class="form-control"/>
                <span asp-validation-for="UserBInput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
        <h4>Generate Input</h4>
            <hr />
        <form asp-action="Generate">
            <input type="submit" value="Generate Input" class="btn btn-primary"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
