@model ErrorViewModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="d-flex flex-row justify-content-center align-items-center h-100">
    <div>
        <h1 class="display-4">404 NOT FOUND</h1>
    </div>
</div>