@model Domain.Caesar

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Caesar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Manual Input</h4>
            <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShiftAmount" class="control-label">Shift amount</label>
                <input asp-for="ShiftAmount" class="form-control"/>
                <span asp-validation-for="ShiftAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CipherText" class="control-label">Plain text</label>
                <input asp-for="CipherText" class="form-control"/>
                <span asp-validation-for="CipherText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
        <h4>Generate Input</h4>
        <hr/>
        <form asp-action="Generate">
            <div class="form-group">
                <label asp-for="CipherText" class="control-label">Plain text</label>
                <input asp-for="CipherText" class="form-control"/>
                <span asp-validation-for="CipherText" class="text-danger"></span>
            </div>
            <input type="submit" value="Generate Input" class="btn btn-primary"/>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
